fastapi
uvicorn
python-multipart
aiofiles
pydantic-settings
sse-starlette
pytest
httpx
typing-extensions

# For data processing
pandas
openpyxl

# For Azure services
python-dotenv
azure-ai-formrecognizer==3.3.2
azure-core
openai==1.102.0
jsonschema
motor==3.5.*
dnspython